#table {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 40%;
}

#table table{
   background-color: rgba(0, 153, 255, 0.829);
   text-align: center;
}

#table table th {
   padding: 10px;
   color: rgb(255, 240, 36);
}

.texto{
   text-shadow: 1px 1px black;
   font-size: 1.8em;
   background-color: rgba(128, 128, 128, 0.363);
   padding: 30px;
   border-radius: 10px;
}