#table {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 40%;
}

#table table{
   background-color: #0099ff75;
}

#table table th {
   color: crimson;
}