$redes:(
    instagram: #c13584,
    facebook:#3b5998,
    youtube:#c4302b,
    twitter:#1ca0f2
);

@each $red,$color in $redes {
    .icon-#{$red}:hover{
        @extend .icon;
        color:$color;
    };
}

.icon {
    font-size: 25px;
    transition: ease 0.3s;  
}

#social {
    position: absolute;
    top:10px;
    right: 30px;
    letter-spacing: 8px;
    font-size: 2rem;
}

#social a{
    text-decoration: none;
}
